body {
  background-image: url('https://image.freepik.com/vetores-gratis/fundo-abstrato-tira-da-pelicula-3d-com-efeito-de-tinta-preta_1017-6354.jpg');
  background-size: auto;
  box-sizing: border-box;
  font-family: Times New Roman , Times , serif;
}

